# Ignore Boost and Crow
boost_1_83_0/
crow/

# Ignore executable and make files
Main
Makefile

# Ignore CMakeFiles
CMakeFiles/

# Ignore CMake temporary files
cmake_install.cmake
CMakeCache.txt

# Ignore OpenSSL csr, certicates, and keys
*.csr
*.crt
*.key
